.humidity {
  margin-left: 30px;
}


/* todayクラスに適用するスタイル */
.today {
  font-size: 20px;
}

span {
  background-color: #ffc0cb;
  display: inline-block;
  height: 28px;
}
/* temperatureクラスに適用するスタイル */
.temperature {
  background-color: #ffd8b2;
  display: inline-block;
  height: 20px;
  width: 40px;
}
/* humidityクラスに適用するスタイル */
.humidity {
  background-color: #add8e6;
  display: inline-block;
  height: 20px;
  width: 40px;
}
/* img要素に適用するスタイル */
img {
  display: block;
}
